
.login-form {
    width: 340px;
    margin: 40px auto;
    font-family: sans-serif;
}
.login-form form {
    margin-bottom: 25px;
    background: #f7f7f7;
    box-shadow: 25px 25px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: sans-serif;
}
.login-form h2 {
    margin: 0 0 10px;
    font-family: sans-serif;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
    font-family: sans-serif;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #b388ff;
}
.title{
    text-align: center;
    font-family: Helvetica;

}

h1{
     font-size: 100px;
     text-align:center;
     font-family: sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #e1a6e5, #d69fde, #cb99d6, #c192cf, #b68cc7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



