{% load static %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Simple Login Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="{% static 'css/Memory_maps.css' %}">
</head>
<body>
    <div class="title">
        <h1> Memory Map </h1>
    </div>

    <div class="body">
        <img src="https://media1.thehungryjpeg.com/thumbs/800_3537546_27b3o6tzlmo2dfeauzykxcsa2tx8s7e0e8wse5hr.jpg">
    </div>
    <div class ="picture">
        
    </div>
    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block">Log in</button>
            </div>
            <div class="clearfix">
                <!-- <label <p class="pull-right"></label>><input type="checkbox"> </label>
                <a href="#">Forgot Password?</a> -->
                <p class="text-center"><a href="#">Forgot Password</a></p>
                <p class="text-center"><a href="{% url 'create' %}">Create an Account</a></p>

            </div>
        <!-- </form>
        <p class="text-center"><a href="#">Create an Account</a></p> -->
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>