<!DOCTYPE html>
<html>
<title>DeltaHacks Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>Is is </b> Corona</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>
   <center> <img src="earth.jpg" alt="earth" class="centerImage"
    width="800" height="500"></center>



  <!-- About Section -->
  <div id="wrapper"> 
    <div id=container>

        <h3>About</h3>  
    </div>

    
  </div>
  <div class="w3-container w3-padding-32" id="about">


    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Is it Corona is our new web app which is designed to help individuals with Alzheimers and their primary care-takers. If those experiencing this illness enter an area defined as dangerous, set out by the caregiver, then they will be notified. 
    </p>
  </div>

  

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Send us a message if you have any questions!</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
<style>
</style>
</body>
</html>
