{% load static %}

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <script src="createMap.js"></script>

    <title>Track</title>
  </head>
  <body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmizIP7mTSinGVTklK_dUU-oBUnyYCQ10&callback=initMap&libraries=drawing" async defer></script>
    <script src="{% static 'Javascript/createMap.js' %"></script>
  </body>
</html>
